SERVER_PORT=8080
GIN_MODE=release
WHISPER_MODEL_PATH=models/ggml-base.bin
WHISPER_THREADS=4
MAX_FILE_SIZE=104857600
UPLOAD_DIR=uploads
OUTPUT_DIR=outputs
WHISPER_BASE_IMAGE=difyz9/whisper-go-base:latest
